<!doctype html>
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<html>

    <head>
        <title>My Portfolio </title>

        <link rel='stylesheet' type='text/css' href= "{% static 'portfolio/all_blogs.css' %}">
        <!--[if IE]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <header>
            <h1>My Portfolio</h1>
        </header>

        <div id="container">

            <br><img src="{% static 'portfolio/20170719_222445-01.jpeg' %}" width="50%" height="50%">
            <br><a href="{% static 'portfolio/Resume.docx' %}">Resume</a>

            {% for project in projects %}

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <img src="{{ project.image.url }}" height="100" width="50">

                {% if project.url%}
                    <br><a href="{{ project.url }}">Link</a>
                {% endif %}

            {% endfor %}

        </div>

        <footer>
            <p>&copy; 2020 &bull; Asher Sam Sajan</p>
        </footer>
    </body>

</html>
{% endblock %}
